<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MogwaiLauncher.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DefaultSubscription" value=""/>
    <add key="DefaultWorld" value="Argonnessen"/>
    <add key="Username" value=""/>
    <add key="SaveUsername" value="false"/>
    <add key="Password" value=""/>
    <add key="SavePassword" value="false"/>
    <add key="RememberMe" value="True"/>
    <add key="AutoLogin" value="True"/>
    <add key="AutoLaunch" value="False"/>
    <add key="AutoPatch" value="False"/>
    <add key="GameClients" value=""/>
    <add key="CurrentClient" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <MogwaiLauncher.WinApp.Properties.Settings>
      <setting name="MogwaiLauncher_WinApp_Turbine_GLS_GLS_x0020_Datacenter_x0020_Info_x0020_Server" serializeAs="String">
        <value>http://gls.ddo.com/GLS.DataCenterServer/Service.asmx</value>
      </setting>
      <setting name="MogwaiLauncher_WinApp_Turbine_GLS_Auth_Global_x0020_Login_x0020_System_x0020_Authentication_x0020_Service" serializeAs="String">
        <value>http://gls-auth.ddo.com/GLS.AuthServer/Service.asmx</value>
      </setting>
      <setting name="LocalLotroLauncher_WinApp_Turbine_GLS_GLS_x0020_Datacenter_x0020_Info_x0020_Server" serializeAs="String">
        <value>http://gls.ddo.com/GLS.DataCenterServer/Service.asmx</value>
      </setting>
      <setting name="LocalLotroLauncher_WinApp_Turbine_GLS_Auth_Global_x0020_Login_x0020_System_x0020_Authentication_x0020_Service" serializeAs="String">
        <value>http://gls-auth.ddo.com/GLS.AuthServer/Service.asmx</value>
      </setting>
      <setting name="MogwaiLauncher_WinApp_AmsAccountManagement_AmsAccountManagement" serializeAs="String">
        <value>http://localhost/Ams/AmsAccountManagement.asmx</value>
      </setting>
      <setting name="MogwaiLauncher_WinApp_AmsSubscriptionManagement_AmsSubscriptionManagement" serializeAs="String">
        <value>http://localhost/Ams/AmsSubscriptionManagement.asmx</value>
      </setting>
      <setting name="MogwaiLauncher_WinApp_AmsAuthentication_AmsAuthentication" serializeAs="String">
        <value>http://localhost/Ams/AmsAuthentication.asmx</value>
      </setting>
      <setting name="LocalLauncher_WinApp_AmsAccountManagement_AmsAccountManagement" serializeAs="String">
        <value>http://localhost/Ams/AmsAccountManagement.asmx</value>
      </setting>
      <setting name="LocalLauncher_WinApp_AmsAuthentication_AmsAuthentication" serializeAs="String">
        <value>http://localhost/Ams/AmsAuthentication.asmx</value>
      </setting>
      <setting name="LocalLauncher_WinApp_AmsSubscriptionManagement_AmsSubscriptionManagement" serializeAs="String">
        <value>http://localhost/Ams/AmsSubscriptionManagement.asmx</value>
      </setting>
      <setting name="LocalLauncher_WinApp_Turbine_GLS_GLS_x0020_Datacenter_x0020_Info_x0020_Server" serializeAs="String">
        <value>http://gls.ddo.com/GLS.DataCenterServer/Service.asmx</value>
      </setting>
      <setting name="LocalLauncher_WinApp_Turbine_GLS_Auth_Global_x0020_Login_x0020_System_x0020_Authentication_x0020_Service" serializeAs="String">
        <value>http://gls-auth.ddo.com/GLS.AuthServer/Service.asmx</value>
      </setting>
    </MogwaiLauncher.WinApp.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TurbineTransferService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://xfer.ddo.com/TurbineTransferService/TurbineTransferService.svc"
        binding="basicHttpBinding" bindingConfiguration="TurbineTransferService"
        contract="TurbineTransferService.TurbineTransferService" name="TurbineTransferService" />
    </client>
  </system.serviceModel>
</configuration>
